%h2 Create a new Task

%form{action: "/tasks/#{params[:organisation]}/#{params[:project]}/create", method: "post"}
  %p
    Enter Name: 
    %input{name: "name"}
  %p
    Description:
    %br
    %textarea{name:'description',rows:5, cols:70}
  %p
    Set a priority (1 = unimportant, 5 = very important):
    %br
    %p{style: "padding-left: 10px"}
      %input{type: "radio", name: "priority", value: "1"}
      1&nbsp;&nbsp;
      %input{type: "radio", name: "priority", value: "2"}
      2&nbsp;&nbsp;
      %input{type: "radio", name: "priority", value: "3", checked: "checked"}
      3&nbsp;&nbsp;
      %input{type: "radio", name: "priority", value: "4"}
      4&nbsp;&nbsp;
      %input{type: "radio", name: "priority", value: "4"}
      5&nbsp;&nbsp;
  %p 
    Add workers to this Task:
  %input#tasks-add-member{type: "button", value: "Add Workers", onClick: 'task_add_member_dialog()'}
  %ul#member-list

  %p 
    Is this Task shared with other members?
    %br
    %p{style: "padding-left: 10px"}
      %input{type: "radio", name: "all", value: "yes", checked: "checked"}
      yes
      %input{type: "radio", name: "all", value: "no"}
      no
  
  %input{type: "submit"}
