#sidebar
  .ui-widget.ui-corner-all
    .ui-widget-header.ui-corner-top= @name
    .ui-widget-content.ui-corner-bottom
      %hgroup
        %h6
          %a{href:'#'} Projects
          = render partial: "/projects/list"
        %h6
          %a{href:'#'} Tasks