#sidebar
  .ui-widget.ui-corner-all
    .ui-widget-header.ui-corner-top= "Family HerpDerp"
    .ui-widget-content.ui-corner-bottom
      %hgroup
        %h6
          %a{href:'#'} Projects
        %h6
          %a{href:'#'} Members
        %h6
          %a{href:'#'} Tasks