%h1 Listing organisations

%table
  %tr
    %th
    %th
    %th

  - @organisations.each do |organisation|
    %tr
      %td= link_to 'Show', organisation
      %td= link_to 'Edit', edit_organisation_path(organisation)
      %td= link_to 'Destroy', organisation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Organisation', new_organisation_path
