%h3
  = @org.name
  %em= " - Organisation"

%p= @org.description

%hr

%button#organisation-add-member{onClick:'organisation_add_member_dialog()'} Add Member to this
%button#organisation-edit{onClick:'organisation_edit()'} Edit this
%button#organisation-leave Leave this Organisation