%p
  An Overview of all my Organisations and Teams. 

%ul
  - @my_organisations.each do |org|
    %li
      %a{href:"/organisations/#{org.get_id}"}= org.name

%hr

%a.my-a-button{href:'/organisations/new'} Found new Organisation!