#dialog-organisations.dialog-custom
  
  %p
    An Overview of all my Organisations and Teams. 

  %ul
    %li
      %a{href:'#'} Family HerpDerp
    %li
      %a{href:'#'} Company Derp&amp;Derp
    %li
      %a{href:'#'} Herpington Sports Club
    %li
      %a{href:'#'} ... (and so on)

  %hr

  %button Found new Organisation!