#navigation-box
  #navigation-1.navigation-element.ui-corner-top
    .navigation-stretchbox.ui-corner-top Dashboard
  #navigation-2.navigation-element.ui-corner-top 
    .navigation-stretchbox.ui-corner-top My Organisations
  #navigation-3.navigation-element.ui-corner-top 
    .navigation-stretchbox.ui-corner-top My Tasks
  #navigation-4.navigation-element.ui-corner-top 
    .navigation-stretchbox.ui-corner-top My Conversations
  #navigation-5.navigation-element.ui-corner-top 
    .navigation-stretchbox.ui-corner-top Search ...
  #navigation-clear