%h4 
  found Organisations(
  = @org_results.size
  )
%ul
  - @org_results.each do |org|
    %li
      - name = org.name
      %a{href:'/organisations/'+org.get_id}= name

%h4
  found Projects(
  = @proj_results.size
  )
%ul
  - @proj_results.each do |pro|
    %li
      - name = pro.name
      %a{href:'/projects/'+proj.get_id}= name