%p Add Organisation Members:  
%p
  %table
    - @member.each do |f|
      %tr{member_id:f.name}
        %td
          %span{member_id:f.name}= f.realname
        %td
          %button{onClick:"projects_add_member_with_id(#{f.name.to_i});"} add