%h2 Create new Project
%h5
  %em= "for Organisation: #{@org_name}"

%form{action:"/projects/#{@org_id}/create", method:"post"}

  %p
    Enter a title: 
    %input{name:"title"}

  %p
    Describe this Project: 
    %br
    %textarea{rows:5, cols:70, name:"description"}

  %p
    %input{type:"submit"}