= render partial: "organisations/sidebar"

#contentbar
  %h2 
    Project: 
    = @project.name

  %p
    %em= @project.description
  
  %hr 

  %p
    %em 
      Member: 
      = @project.member.map{|m| m.member.realname}.join(", ")
  
  %hr

  %p 
    - if @is_member && @is_member_org
      %button{onClick:"projects_new_task()"} Create Task
      %button{onClick:"projects_edit()"} Edit
      %button{onClick:"projects_leave()"} Leave
      %button{onClick:"projects_invite()"} Invite People
    - elsif @is_member_org
      %button{onClick:"projects_join()"} Join
