= render partial: "organisations/sidebar"

#contentbar
  %h2 
    Project: 
    = @project.name

  %p
    %em= @project.description

  %p
    %em 
      Member: 
      = @project.members.map{|m| m.realname}.join(", ")
  %p Some Buttons here...
