#sidebar {float: left; width: 200px; margin-top: 20px;}
#contentbar {float: left; width: 500px; margin-left: 20px;}
.clearbar{ clear: both;}

#sidebar .ui-widget-header {padding: 5px;}
#sidebar .ui-widget-content {padding: 10px; font-size: 1.5em}

.feed-item {padding: 5px; background: #d0e5f5; margin-bottom: 10px;}